<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, user-scalable=no" >
        <link rel="stylesheet" href="/techspot_styles.css">
        <title>Tech Hub | Tech Spot</title>
        <link rel="icon" type="image/png" href="/PC_Title (2).png">
    </head>
    <body class="main">
        <nav class="nav navbg">
            <div class="container">
                <h1><a class="logo" href="/index"><img src="/Tech_hub_logo.png" alt="PC Hub Logo"></a></h1>
                <input class="search" type="search" placeholder="Search">
                <ul class="nav-text nav-items">
                    <li><a href="/index"><img src="/The_hub_icon.png">The Hub</a></li>
                    <li><a href="/techspot" class="active"><img src="/Tech_spot_icon.png">Tech Spot</a></li>
                    <li><a href="/forum"><img src="/Forum_icon.png">Forum</a></li>
                    <li><a href="/help"><img src="/help_icon.png">Faqs</a></li>
                    <li><a href="/login"><img src="/Login_icon.png">Login</a></li>
                </ul>
            </div>
        </nav>
        <section class="tech-spot">
            <div class="tech-heading">
                <span></span>
                <img src="/tech_spot.png">
            </div>
            <div class="tech-container">
                <div class="tech-box">
                    <div class="tech-img">
                        <img src="/Apple.jpg" alt="apple logo">
                    </div>
                    <div class="tech-text">
                        <span>9 May 2024 | Work From Home</span>
                        <a class="blog-title">Back to the Office</a>
                        <p>Navigating the transition from remote work to office collaboration seamlessly.</p></br>
                        <a href="https://www.usnews.com/news/economy/articles/2024-01-25/remote-work-has-radically-changed-the-economy-and-its-here-to-stay" target="non_blank">Read More</a>
                    </div>
                </div>
                <div class="tech-box">
                    <div class="tech-img">
                        <img src="/Person_typing.jpg" alt="typing">
                    </div>
                    <div class="tech-text">
                        <span>21 January 2024 | Apple Inc.</span>
                        <a class="blog-title">What's Next?</a>
                        <p>Pioneering technology for a connected and sustainable future.</p></br>
                        <a href="https://www.bloomberg.com/news/newsletters/2023-12-17/apple-2024-plans-new-low-end-airpods-vision-pro-larger-iphone-16-oled-ipad-lq9jhed4" target="non_blank">Read More</a>
                    </div>
                </div>
                <div class="tech-box">
                    <div class="tech-img">
                        <img src="/auto_tech.jpg" alt="auto">
                    </div>
                    <div class="tech-text">
                        <span>12 March 2024 | Auto Tech</span>
                        <a class="blog-title">AI Driving</a>
                        <p>AI's impact on the future of automotive technology.</p></br>
                        <a href="https://www.nytimes.com/2023/10/11/opinion/driverless-cars-san-francisco.html" target="non_blank">Read More</a>
                    </div>
                </div>
                <div class="tech-box">
                    <div class="tech-img">
                        <img src="/Nav_bg2.jpg" alt="cs">
                    </div>
                    <div class="tech-text">
                        <span>4 April 2024 | Let's talk CS</span>
                        <a class="blog-title">Computer Science</a>
                        <p>Navigating computer science amidst industry growth and oversaturation.</p></br>
                        <a href="https://medium.com/@aguimarneto/is-the-software-engineering-field-becoming-oversaturated-in-2023-5b57878b3ed5" target="non_blank">Read More</a>
                    </div>
                </div>
                <div class="tech-box">
                    <div class="tech-img">
                        <img src="/pc_part.jpg" alt="pc">
                    </div>
                    <div class="tech-text">
                        <span>7 May 2024 | PC Build</span>
                        <a class="blog-title">Talk About Specs</a>
                        <p>Mastering PC building: Choosing the right specs for optimal performance.</p><br>
                        <a href="https://www.wired.com/story/how-to-build-a-pc/" target="non_blank">Read More</a>
                    </div>
                </div>
                <div class="tech-box">
                    <div class="tech-img">
                        <img src="/android.jpg" alt="#">
                    </div>
                    <div class="tech-text">
                        <span>3 May 2024 | Samsung</span>
                        <a class="blog-title">Android Vs. iOS</a>
                        <p>Choosing sides: Android vs. iOS—finding the best fit for you.</p><br>
                        <a href="https://www.pcmag.com/comparisons/android-vs-ios-which-mobile-os-is-best" target="non_blank">Read More</a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>