@charset "utf-8"; 

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.nav { 
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 2.5px rgba(255, 255, 255, 0.655);
    margin: 15px;
}

.nav .container { 
    display: flex; 
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 250px; 
    height:76px;  
    margin: 0;  
}

.nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.nav-text li {    
    text-align: center;   
    text-transform: capitalize;
    font-size: 22px; 
    font-variant: small-caps;
    font-family:'Lucida Sans', 'Lucida Sans Regular';
}

.nav-text a { 
    text-decoration: none;
    color: rgb(33, 34, 86)
} 

.nav-items img{
    width: 50px;
    height: 50px; 
    margin: auto; 
    display: block;
}

.nav .search {
    margin-left: 30px; 
    margin-right: 30px;  
    width: 30%;
    height: 35px; 
    font-size: 20px;
    border-radius: 0px 10px 0px 10px;
    border: none;
}

.navbg {
    background: linear-gradient(
        rgb(249, 249, 249), 
        rgba(224, 221, 221, 0.346)),
        url(/Nav_bg2.jpg) no-repeat center center/cover;  
}

.nav .active { 
    color: white;
   
    text-decoration: underline;
    text-underline-offset: 7px;
}

.nav a.current, .nav a:hover {
    color:rgb(255, 255, 255);
    text-decoration: underline;
    text-underline-offset: 7px;
}
.main {
    margin: 0;
    background-image: url(/Register_bg.jpg);
    background-repeat: none;
    background-position: center;
    background-size:cover;
    height: 100vh;
    width: 100%;
    margin-bottom: 0;
    z-index: -1;
}

.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.registration-container {
    align-items: center;
    background-color: seagreen;
    width: 25em;
    height: 30em;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .5);
    backdrop-filter: blur(30px);
}

.registration-container h1 {
    margin-top: 20%;
    font-size: 36px;
    text-align: center;
}

.registration-container .input-container {
    width: 95%;
    height: 40px; 
    margin: 30px 0; 
}

.input-container {
    display: flex;
    align-items: center;
    
}
.input-container input {
    width: 100%;
    height: 100%; 
    border: none;
    outline: none; 
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 18px;
    padding-left:20px;
}

.input-container input::placeholder {
    color: black; 
}

.input-container i { 
    padding-left: 5px;
}

.registration-container .btn {
    width: 100%;
    height: 45px; 
    background: white;
    border: none; 
    outline: none; 
    border-radius: 40px; 
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333; 
    font-weight: 600;
}

.login-link {
    display: flex; 
    justify-content: center;
    padding-top: 10px; 
    color: white;
}
.registration-container .btn:hover {
    transform: scale(97%);
    transition: 0.3s ease-in-out
}

.registration-container .btn:active {
    background-color: #ececec;
    transition: 0.1s ease-in-out;
}

.registration-container .register-link {
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
}




